<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="File" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="Database" xsi:type="Database"
				dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
				connectionString="Data Source=macrix.db"
				commandText="INSERT INTO Logs(CreatedOn,Level,Message,StackTrace) VALUES (@datetime,@level,@msg,@trace)">
				<parameter name="@datetime" layout="${date}" />
				<parameter name="@level" layout="${level}" />
				<parameter name="@msg" layout="${message}" />
				<parameter name="@trace" layout="${stacktrace}" />
		</target>
	</targets>
	<rules>
		<!--<logger name="*" minlevel="Debug" writeTo="logfile" />-->
		<logger name="*" minlevel="Trace" writeTo="Database" />
	</rules>
</nlog>